@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --navy-dark: #122147;
  --orange: #ff881b;
  --black: #262626;
  --red: #ff3c3c;
  --white: #fff;
  --gray-dark: #525252;
  --blue: #403cff;
  --green: #3cff7e;

  --header-height: 100px;
  --footer-height: 60px;
}

* {
  font-family: "Inter", sans-serif;
}