button {
  border: none;
  padding: 15px 40px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--white);
  font-weight: 300;
  font-size: 1rem;

  transition: opacity;
  transition-duration: 500ms;
  transition-timing-function: ease;
}

button:hover {
  opacity: 0.8;
}
