



.formContainer{
    display: grid;
    grid-template-columns: 200px 300px;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 1;
    width: fit-content;
    
}
.item2{
    grid-column-start: 2;
    grid-column-end: 2;
    width: fit-content;
}
