#register-wrapper {
  display: flex;
  padding: 30px 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 390px;
  margin: 5% auto;
  border-radius: 15px;
}

#register-wrapper form div{
  width: 100%;
  margin: 30px 0;
}

#register-wrapper form div input{  
  width: 100%;
  height: 25px;
}

.register-div{
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.sign-in{
  display: block;
  margin-top: 5px;
  text-align: right;
}

.image-preview{
  display: block;
  width: 100%;
}